<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.interline.report.dao.AdminMapper">
	<select id="getAll_List" resultType="report_list">
		select * from report_list order by reportnum desc
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from report_list
	</select>
	
	<insert id="insertUser" parameterType="user">
		insert into user_inform
		(
			UserNum
			,UserId
			,UserName
			,Password
			,Authority
		) 
		value
		(
			#{UserNum}
			,#{UserId}
			,#{UserName}
			,#{Password}
			,#{Authority}
		)
	</insert>
</mapper>