<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.interline.report.dao.UserMapper">

<select id="getMy_List" resultType="report_list">
		select * from report_list where user_num= ${UserNum}
	</select>
	
	
<insert id="writeReport">
	insert into report_main
	(
		report_main
	    ,Report_Num
	    ,StartWork
	    ,EndWork
	    ,ReportContents
	    ,DailyRemarks
	    ,ContentNum
	)
	values
	(
		#{report_main}
		,#{Report_Num}
		,#{StartWork}
		,#{EndWork}
		,#{ReportContents}
		,#{DailyRemarks}
		,#{ContentNum}
	)
</insert>


<insert id="writeReportList" parameterType="report_list">
	insert into report_list
	(
		ReportNum
		,User_Num
	    ,User_Name
	    ,Location
	    ,StartWeek
	    ,EndWeek
	    ,WeeklyRemarks
	)
	values
	(
		get_seq("seq_report_list")
		,#{User_Num}
		,#{User_Name}
		,#{Location}
		,#{StartWeek}
		,#{EndWeek}
		,#{WeeklyRemarks}
	)
</insert>


<insert id="keepWriting" >
	insert into report_main
	(
		report_main
	    ,Report_Num
	    ,StartWork
	    ,EndWork
	    ,ReportContents
	    ,DailyRemarks
	    ,ContentNum
	)
	values
	(
		#{report_main}
		,#{Report_Num}
		,#{StartWork}
		,#{EndWork}
		,#{ReportContents}
		,#{DailyRemarks}
		,#{ContentNum}
	)
</insert>

<select id="readReportList" resultType="report_list" >
select * from report_list where reportNum = #{reportNum}

</select>
</mapper>